<tr>
    <td>{{title}}</td>
    <td>{{publisher}}</td>
    <td>{{description}}</td>
    <td>{{price}}</td>
    <td>{{date}}</td>
    <td>
        <button data-id="{{_id}}" class="deleteBtn">Delete</button>
        <button data-id="{{_id}}" class="editBtn">Edit</button>
    </td>
</tr>