<section id="view{{viewType}}Ad" class="view{{viewType}}Ad">
    <h1 class="titleForm">{{caption}}</h1>
    <form id="form{{viewType}}Ad" class="form">
        <div><input type="hidden" name="id" value="{{id}}" required /></div>
        <div><input type="hidden" name="publisher" value="{{publisher}}" required /></div>
        <div>Title:</div>
        <div><input type="text" name="title" required /></div>
        <div>Description:</div>
        <div><textarea name="description" rows="10" required></textarea></div>
        <div>Date Published:</div>
        <div><input type="date" name="datePublished" required /></div>
        <div>Price:</div>
        <div><input type="number" step="0.01" name="price" required /></div>
        <div><input type="button" id="button{{viewType}}Ad" value="Create" /></div>
    </form>
</section>
