<section id="view{{viewName}}" class="view{{class}}">
    <h1 class="titleForm">{{formCaption}}</h1>
    <form id="form{{formId}}" class="form">
        <div>Username:</div>
        <div><input type="text" name="username" required /></div>
        <div>Password:</div>
        <div><input type="password" name="passwd" required /></div>
        <div><input type="button" id="{{buttonId}}" value="{{formType}}" /></div>
    </form>
</section>
