<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Demo Server</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <header>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/addHotel">Generate Hotel</a></li>
                <li><a href="/list?page=0">List</a></li>
                <li><a href="/addCategories">Add Categories</a></li>
                {{#if currentUser}}
                <li><a href="/profile/{{currentUser.username}}">{{currentUser.username}}</a></li>
                <li>
                    <form id="logout-form" action="/logout" method="post"></form>
                    <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                </li>
                {{else}}
                <li><a href="/loginRegister">Login/Register</a></li>

                {{/if}}
            </ul>
        </header>
        <main>
            {{#if successMessage}}
            <span>{{successMessage}}</span> {{/if}} 
            {{#if globalError}}
            <span>{{globalError}}</span> {{/if}} {{{body}}}
        </main>
    </div>
    <script src="/js/jq.js"></script>
    <script src="/js/js.js"></script>
</body>

</html>