<h2>{{user.username}}</h2>

<h4>Your hotels:</h4>
{{#each hotels}}
<a href="/details/{{this._id}}">
    <fieldset>
    <legend>{{this.title}}</legend>
    <p>{{this.location}}</p>
    <img class="hotelImg" src="{{this.imageUrl}}" alt="hotel image">
    <p>{{this.description}}</p>
</fieldset>
</a>
{{else}}
No hotels yet.
{{/each}}
<br>
<h4>Your comments:</h4>

{{#each comments}}
<fieldset>
    <h3>{{this.title}}</h3>
    <p>{{this.content}}</p>
    <p>{{this.createdOn}}</p>
</fieldset>
{{else}}
No comments yet
{{/each}}